body {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: calc();
    background-image:url("https://media.istockphoto.com/id/175262244/photo/pillows-arranged-on-bed.jpg?s=612x612&w=0&k=20&c=QJRX-3U5EYK2XIlsCvf7D2bURIvessXja9fIodbsNnY=") ;
  ;}
img { width: 10000px;
    height: auto;}
    
    h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

legend {
    font-weight: bold;
    color: rgb(63, 60, 60);
}

.welcome {
   color: rgb(0, 0, 0);
}