body {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: calc();
    background-image:url("https://cdn.tatlerasia.com/tatlerasia/i/2023/12/06190230-02161632-05145946-17173820-21165957-89011852-2471058366494118-471507681622884352-n-cover-1882x1313-cover-1882x1313-cover-1499x1046-cover-1499x1046_cover_1499x1046.jpeg") ;
}

    
    h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

legend {
    font-weight: bold;
    color: rgb(63, 60, 60);
}

.welcome {
   color: rgb(0, 0, 0);
}